<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">



<suite name="SuiteOne" >

    <test name="Test" >
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.interview.learn.tests.MyFirstJava"/>
            <class name="com.interview.learn.tests.MySecondJava"/>
        </classes>
    </test> <!-- Test -->

    </suite>